<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
	  <div class="note note-success">
	    {{#if model.workers}}
	    <h4>Your Workers</h4>
	    <div class="table-responsive">
		  <table class="table table-condensed table-striped">
		    <thead>
			  <tr>
			    <th>ID</th>
			    <th>Hashrate <small class="text-green">(rough, short average)</small></th>
			    <th>Hashrate <small class="text-green">(accurate, long average)</small></th>
			    <th>Blocks</th>
			    <th><small class="text-green">Valid</small>  /  <small class="text-orange">Stale</small>  /  <small class="text-red">Invalid 24h</small></th>
			    <th>Last <small class="text-green">Share</small></th>
			  </tr>
		    </thead>
		    <tbody>
			  {{#each-in model.workers as |k v|}}
			    <tr class="{{if v.offline "warning" "success"}}">
				  <td>{{k}}</td>
				  <td>{{format-hashrate v.hr}}  {{#if v.w_stat_s}}<i class="fa fa-arrow-up" style="color:rgb(0, 9, 128)" aria-hidden="true"></i>{{else}}<i class="fa fa-arrow-down" style="color:red" aria-hidden="true"></i>{{/if}}</td>
				  <td>{{format-hashrate v.hr2}}  {{#if v.w_stat}}<i class="fa fa-arrow-up" style="color:rgb(0, 9, 128)" aria-hidden="true"></i>{{else}}<i class="fa fa-arrow-down" style="color:red" aria-hidden="true"></i>{{/if}}</td>
				  <td>{{v.blocks}}</td>
				  <td><span class="text-green">{{v.valid}}</span> ({{v.v_per}}%) / <span class="text-yellow">{{v.stale}}</span> ({{v.s_per}}%) / <span class="text-red">{{v.invalid}}</span> ({{v.i_per}}%)</td>
				  <td>{{format-relative (seconds-to-ms v.lastBeat)}}</td>
			    </tr>
			  {{/each-in}}
		    </tbody>
		  </table>
	    </div>
	    {{else}}
		  <h3>No workers online</h3>
	    {{/if}}
	  </div>
	</div>
  </div>
</div>
<div class="container">
  <div class="note note-success" role="alert">
    <strong>Your bulk stats in </strong><a href="/#/api/accounts/{{model.login}}" class="text-decoration-none"> <small class="text-green">JSON</small></a>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
	  <div class="note note-success">
	    {{high-charts mode=chartMode chartOptions=chartOptions content=chartData}}
	  </div>
    </div>
    <div class="col-xs-12 col-md-6">
	  <div class="note note-success">
	    {{high-charts mode=chartMode chartOptions=shareChart content=chartData}}
	  </div>
    </div>
  </div>
</div>